:host{
    display: block;
}

:host *{
    box-sizing: border-box;
}

.mi-boton{
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    background-color: #fff;
    color: #ccf;
    border: 1px solid #ccf;
    transition: background-color 400ms, color 400ms;
    width:100px;
}

.mi-boton:hover{
    color:#fff;
    background-color: #ccf;
}